@import "../../vars.css";


.mainContainer{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
}
.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  z-index: 1;
  min-height: 80vh;
  
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  z-index: 100;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50%;
}

.aboutImage {
  width: 35%;
}

.aboutItem img{
  width: 10em;
  margin-right: 2rem;
  /* border: 1px solid red; */
  align-self: flex-start;
}

.aboutItems{
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow-x: auto;
  /* position: relative; */
  scrollbar-width: none;
}

.aboutItems::-webkit-scrollbar{
  width: 0;
}

.aboutItemText{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.aboutItem{
  display: flex;
  width: 100%;
  flex-shrink: 0;
  /* cursor:-webkit-grab; */
  cursor: grabbing;
}

.arrows{
  color: white;
  font-size: 4rem !important;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}

.arrows:hover{
  font-size: 4.5rem !important;
  transition: font-size ease-in-out 0.4s;
}
.leftarrow{
  left: 0;
  
}
.rightarrow{
  right: 0;
}

.hideSlide{
  opacity: 1;
}

.futureExp{
  list-style-type: none;  
  position: absolute;
  margin-top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;  
  text-align: center;
  color: rgb(230, 230, 230);
  font-style: italic;
}
/* .aboutItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  border: 1px solid red;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  ); 
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
} */

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItemText h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItemText h4 {
  font-size: 20px;
  font-weight: 600;
}


.aboutItem p {
  font-size: 25px;
}


.jobDescription{
  text-align: justify;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}